html{
	width: 960px;
	height: 960px;
	overflow-x: hidden;
}

body {
	font-weight: 300;
	font-family: "ubuntu", sans-serif;
	color: #999;
	background-color: #000;
	padding: 10px 30px;
	margin: 0;
	width: 960px;
	height: 1180px;
	overflow: hidden;
}

h1 {
	font-weight: 400;
	font-family: "ubuntu-condensed", sans-serif;
	margin: 10px 0;
	font-size: 24px;
}

p{
	margin: 10px 0;
	font-size: 14px;
}

a {
	color: #999;
}
a:hover {
	color: white;
}

#loader{
	background: rgba(0,0,0,0.7) url(ajax-loader.gif) no-repeat center center;
	position: absolute;
	width: 1020px;
	height: 1180px;
	z-index: 99999;
	top: 0;
	left: 0;
}

#boxes {
	border-bottom: 1px solid #999;
	height: 33px;
	padding-left: 30px;
	margin: 20px -30px 0;
}

.box {
	border: 1px solid #999;
	height: 32px;
	padding: 0 30px;
	line-height: 32px;
	float: left;
	text-align: center;
	margin-left: -1px;
	cursor: pointer;
	font-family: "ubuntu-condensed", sans-serif;
	font-size: 14px;
}

.box:hover, .box.on{
	background-color: #333;
}

.box.on{
	color: white;
}

#body svg{
	position: relative;
	z-index: 99;
}

#states path {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

#counties path:hover {
	stroke: #eee;
	stroke-width: 1px;
}

#counties path.hover{
	stroke: white;
	stroke-width: 2px;
}

.romney {
	fill: #d80000;
	background-color: #d80000;
}

.obama {
	fill: #045cdf;
	background-color: #045cdf;
}

#graph {
	position: relative;
	margin-bottom: -200px;
	width: 960px;
	bottom: 50px;
	z-index: 1;
	overflow: visible;
}

#graph-inner {
	position: relative;
	width: 900px;
	margin-left: 25px;
	overflow: visible;
}

#graph-inner div {
	position: absolute;
	width: 1px;
	margin-left: 20px;
	height: 150px;
}

#graph #zero {
	position: relative;
	left: 568px;
	font-size: 13px;
	z-index: 3;
	top: 195px;
}

#graph p#y-axis {
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);
	margin: 0;
	position: absolute;
	left: -25px;
	top: 100px;
}

#graph-inner .graph_highlight{
	border: 1px solid white;
	background-color: white;
	z-index: 99;
	min-height: 3px;
}

#graph-inner .graph_highlight.obama{
	margin-top: -2px;
}

#about {
	margin-top: 405px;
}

#probe {
	position: absolute;
	display: none;
	background-color: #333;
	border: 1px solid #666;
	color: #fff;
	z-index: 999;
}

#probe p {
	margin: 3px;
	font-size: 12px;
}

#probe p:first-child {
	font-weight: 700;
}